@import url('https://fonts.googleapis.com/css?family=Amaranth|Cormorant+Garamond|Fugaz+One|Merienda|Poiret+One');

@font-face {
    font-family: "trolled";
    src: url(/assets/PoiretOne-Regular.ttf), format("truetype"), url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-100.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Museo 100";
    src: url("https://5240e61fe753984391c5-ecc02ad49047bf9e3105e819e005f5ff.ssl.cf2.rackcdn.com/MuseoSans-100.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

*{box-sizing: border-box;}

html, body {
    padding: 0;
    margin: 0 auto;
}
body {
    background-color: #faf0e6;
}

.pagination {
    justify-content: center;
    .active {
    background-color: #cdc9c9;
    }
    a {
    color: #8b8878;
    }
}
.container {
    background-color: #fffaf0;

    text-align: center;
    padding: 20px;
} 
.content {
    width: 100%;
    background-color: black;
}
.row {
    margin: 20px;
}
/* IMG */
.img-holder img {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #8b7765;
    width: 300px;
    height: auto;
}
.img-holder:hover {
    -webkit-animation: blink-2 1s both;
    animation: blink-2 0.9s both;
}

@-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
